# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
/env/
/venv/
/.venv/
/pip-wheel-metadata/
/.installed.cfg
/*.egg-info/

# Storage & Models - prevent large files from being committed
/qdrant_storage/
*.gguf
/instruction_templates/

embedding_cache_0_6b/*
.DS_Store
qwen3-embedding-0.6b.gguf
Modelfile*